services:
  slapd:
    image: slapd_debian:latest
    container_name: slapd
#    restart: unless-stopped
    restart: no
    network_mode: host
#    ports:
#      - "389:389/tcp"
#      - "636:636/tcp"
    logging:
      driver: syslog
      options:
        tag: "{{.DaemonName}}.{{.Name}}"
    environment:
        DEBUGSLAPD: Stats
        CONFIMPORT: 1
    volumes:
      - type: bind
        source: /opt/my_containers/slapd/etc
        target: /etc/ldap/slapd.d
      - type: bind
        source: /opt/my_containers/slapd/db
        target: /var/lib/ldap
      - type: bind
        source: /opt/my_containers/slapd/export
        target: /home/slapd/export
      - type: bind
        source: /opt/my_containers/slapd/import
        target: /home/slapd/import
      - type: bind
        source: /opt/my_containers/slapd/certs
        target: /home/slapd/certs
        read_only: true
